* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
}
.cars {
  color: white;
  padding: 50px;
  text-align: left;
  line-height: 2;
}
.sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  border-radius: 100px;
  color: #e38826;
  font-family: Arial;
  border: none;
  padding: 10px;
}

.suv .btn {
  color: hsl(184, 100%, 22%);
}

.luxury .btn {
  color: hsl(179, 100%, 13%);
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
  }

  .cars {
    position: relative;
  }

  .sedan {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .suv {
    background-color: hsl(184, 100%, 22%);
  }

  .luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .btn {
    position: absolute;
    bottom: 50px;
  }
  p {
    grid-row: 3/4;
  }
}
